[tool.black]
line-length = 99
target-version = ['py39', 'py310']

[tool.isort]
profile = "black"
line_length = 99

[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true